#attendee-list {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.attendee {
  height: 20rem;
  margin: 20px 0;
  padding: 10px;
}

.attendee-body {
  height: 15rem;
  width: 30rem;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(25, 25, 25);
}

.transparent {
  /* background-color: wheat; */
  height: 5rem;
}

.left {
  height: 100%;
  width: 40%;
  display: flex;
  padding: 0 20px;
  /* background-color: rgb(233, 224, 213); */
  flex-direction: column;
  align-items: start;
}

.img-holder img {
  height: 10rem;
  border-radius: 50%;
  border: 3px solid #2ca0a8;
  position: relative;
  top: -5rem;
  box-shadow: 0 15px 15px rgb(0, 0, 0);
}

.details {
  position: relative;
  top: -5rem;
  text-align: center;
}

.name {
  font-size: 1.1rem;
  font-weight: bold;
  color: aliceblue;
}

.email,
.phone {
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
 
.phone {
  font-size: 0.9rem;
}

.right {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem 0 0;
  /* background-color: antiquewhite; */
}

.cont-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.cont-icon {
    font-size: 1.2rem;
}

.phone .cont-icon {
    font-size: 1rem;
}

.company {
    font-weight: bold;
    color: #2ca0a8;
}

.position {
    color:  rgb(170, 170, 170);
}

.socials {
    width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.icons {
  display: block;
  height: 2.3rem;
  width: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
}

#searchbar {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    height: 80%;
    width: 50%;
    border-radius: 30px;
    padding: 0 1rem;
    background-color: transparent;
    border: none;
    color: aliceblue;
    border: 2px solid #2ca0a8;
}

input:focus {
    outline: none;
}

#default-message {
    color: rgb(170, 170, 170);
    padding: 10rem;
    font-size: 2rem;
}